version: "3.9"

services:
  didcomm-mediator-testing:
    build: .
    image: didcomm-mediator-testing:test
    container_name: didcomm-mediator-testing
    ports:
      - "3001:3001"
    environment:
      APP_PORT: ${APP_PORT}
      REDIS_URL: ${REDIS_URL}
      AGENT_PUBLIC_DID: ${AGENT_PUBLIC_DID}
      LOG_LEVEL: ${LOG_LEVEL}
      ENABLE_AGENT_LOGS: ${ENABLE_AGENT_LOGS}
      MAX_TENANTS: ${MAX_TENANTS}
      MAX_CONCURRENT_MESSAGES: ${MAX_CONCURRENT_MESSAGES}
      AGENT_CLEANUP_DELAY_MS: ${AGENT_CLEANUP_DELAY_MS}
      MAX_CONCURRENT_AGENT_CREATION: ${MAX_CONCURRENT_AGENT_CREATION}
      REPORTS_DIR: ${REPORTS_DIR}
    depends_on:
      - redis
    networks:
      - loadbalancing
    volumes:
      - .:/usr/src/app

  redis:
    container_name: redis
    image: redis:alpine
    restart: always
    ports:
      - 6379:6379
    networks:
      - loadbalancing
    command: redis-server --maxmemory 64mb --maxmemory-policy allkeys-lru --appendonly yes
    volumes:
      - redis-data:/data

networks:
  loadbalancing:
    external: true

volumes:
  redis-data:
