name: Continuous Integration Didcomm Mediator Testing

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, labeled]
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout message-pickup-repository
        uses: actions/checkout@v4

      - name: Setup node v22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: |

          corepack enable
          pnpm install --frozen-lockfile

      - name: Check Format
        run: |
          pnpm format

      - name: Check Types
        run: |
          pnpm check-types

      - name: Unit tests
        run: |
          pnpm test

      - name: E2E tests
        run: |
          pnpm test:e2e
